body
{
  font-family: Arial;
  background-color: blueviolet;

}

.progressbar-container
{
    width: 200px;
    height: 200px;
    margin: 100px auto;
}

.progressbar-container .outer-box
{
    border-radius: 50%;
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar-container .inner-box 
{
    /*background-color: red;*/
    font-size: 24px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar-container svg
{
    position: absolute;
    
}

.progressbar-container circle 
{
    fill: none;
    stroke: url(#gradientColor);
    stroke-width: 20px;
    stroke-dasharray: 550; /* se divide el borde y empieza a haber mas espacio entre las diviciones */
    stroke-dashoffset: 550; /* es para especficar la distancia de inicio del trazo, es como agregarle un espacio de pading aumentando la distancia entre el inicio y lo demas*/

    animation: loading 5s linear forwards;
}

@keyframes loading 
{
    100% 
    {
        stroke-dashoffset: 0; /* punto de partida o final*/
    }
}